:root {
    --color-accent: #5eead4;
    --color-highlight: #e2e8f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #0f172a;
    color: #94a3b8;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 1rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.underlay {
    position: fixed;
    background: #1e1b4b;
    inset: 0;
    opacity: 0.2;
}

header,
main,
footer {
    position: relative;
    z-index: 10;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 275px;
}

header h1,
header h4,
.lightText {
    color: var(--color-highlight);
}

header a {
    text-decoration: none;;
}

header h1 {
    font-weight: 600;
}

header h4 {
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section h2,
.experience-card h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-display: 1.5rem;
}

.experience-contents,
.project-contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-me-content p {
    font-size: 1.1rem;
}

.anchor-text {
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 200ms;
}

.anchor-text:hover {
    color: var(--color-accent);
}

.experience-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.tenure {
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.experience-card p {
    font-size: 0.9rem;
}

.card-header {
    font-weight: 400;
    font-size: 1rem;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;
    color: var(--color-accent);
}

.tag {
    border-radius: 1rem;
    padding: 0.25rem .5rem;
    background: rgba(45, 212, 191, .1);
}

.tag p {
    font-size: 0.8rem;
}